!.gitkeep
.idea/
.DS_Store
target/
bin/
node_modules/
bower_components/
nbproject/
.gradle/
build/
mods/

*.iml
*.zip

.DS_Store
.project
.classpath
.settings
.classpath
.project
.settings
nb-configuration.xml

DashboardFrontend/src/main/webapp/*
!DashboardFrontend/src/main/webapp/WEB-INF/
!DashboardFrontend/src/main/webapp/status/
DashboardFrontend/src/main/webapp/status/dashboardBackends.json

DashboardFrontend/src/main/utils/coverage/
DashboardFrontend/src/main/stats.json
DashboardFrontend/src/main/debug.log
npm-debug.log
