!.gitkeep
.idea/
.DS_Store
target/
bin/
node_modules/
bower_components/
nbproject/
.gradle/
build/
mods/

*.iml
*.zip

.DS_Store
.project
.classpath
.settings
.classpath
.project
.settings
nb-configuration.xml

npm-debug.log
